.main {
    margin-top: 3em;
}

.right {
    max-width: 90vw;
}

.icon-bar {
    text-align: center;
 }
 
 .icon-bar a {
        text-decoration: none;
 }

 em {
     font-style: normal;
 }

@media screen and (min-width: 601px) {
    .left {
        float: left;
        text-align: center;
        margin-right: 3em;
        margin-left: 3em;
    }

    .right {
        margin-right: 4em;
        overflow: hidden;
    }
}

@media screen and (max-width: 600px) {
    .left {
        text-align: center;
    }

    .right {
        margin-right: 1em;
        text-align: left;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background: #1F2933;
        color: #F5F7FA;
    }
    
    body a {
        color: tomato;
    }
    
    body a:visited {
        color: tomato;
    }

    hr {
        width: 100%;
    }

    em {
        color: gold;
    }

    .icon-bar svg path {
        fill: white;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background: rgb(255, 224, 251);
    }

    em {
        color: darkred;
    }

    a {
        color: indigo;
    }
    
    a:visited {
        color: indigo;
    }
}