.footer-wrapper {
  position: sticky;
  bottom: 0;
  width: 100%;
  margin-top: 1em;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #688888;
  height: 50px;
}

.footer-nav-wrapper {
  display: flex;
}

.footer-nav-wrapper .nav {
  float: left;
  margin-left: 1em;
  margin-right: 1em;
}

.footer .hit-counter {
  float: right;
  padding-left: 1em;
  padding-right: 1em;
}

.neon-text {
  color: #bc2e1e;
  text-shadow: 0 1px 0px #378ab4, 1px 0 0px #5dabcd, 1px 2px 1px #378ab4,
    2px 1px 1px #5dabcd, 2px 3px 2px #378ab4, 3px 2px 2px #5dabcd,
    3px 4px 2px #378ab4, 4px 3px 3px #5dabcd, 4px 5px 3px #378ab4,
    5px 4px 2px #5dabcd, 5px 6px 2px #378ab4, 6px 5px 2px #5dabcd,
    6px 7px 1px #378ab4, 7px 6px 1px #5dabcd, 7px 8px 0px #378ab4,
    8px 7px 0px #5dabcd;
}

/* Dark mode color scheme for neon text */
/* https://css-tricks.com/how-to-create-neon-text-with-css/ */
