.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #688888;
  height: 100px;
}

.footer .music {
  float: left;
  padding-left: 1em;
  padding-right: 1em;
}

.footer .hit-counter {
  float: right;
      padding-left: 1em;
  padding-right: 1em;
}

/* Dark mode color scheme for neon text */
/* https://css-tricks.com/how-to-create-neon-text-with-css/ */