body {
  background: #82aaaa;
}

em {
  color: darkred;
}

a {
  color: indigo;
}

a:visited {
  color: indigo;
}

em {
  font-style: normal;
}

.main {
  margin: 1em;
}

.right {
  max-width: 90vw;
}

.center {
  display: grid;
  justify-content: center;
  text-align: center;
}

.center h2 {
  margin: 0.5em;
}

.center nav {
  position: absolute;
  font-size: xx-large;
  top: 10px;
  left: 10px;
}

@media screen and (min-width: 601px) {
  .right {
    margin-right: 4em;
    overflow: hidden;
  }

  .right h3 {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  .right {
    margin-right: 1em;
    text-align: left;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: #1f2933;
    color: #f5f7fa;
  }

  body a {
    color: tomato;
  }

  body a:visited {
    color: tomato;
  }

  hr {
    width: 100%;
  }

  em {
    color: gold;
  }

  .icon-bar svg path {
    fill: white;
  }
}
