.left {
	text-align: center;
}
.icon-bar {
	text-align: center;
}

.icon-bar a {
	text-decoration: none;
	margin: .5em;
}

@media screen and (min-width: 601px) {
	.left {
		float: left;
		text-align: center;
		margin-right: 3em;
		margin-left: 3em;
	}
}