.project-container {
  display: flex;
  flex-direction: row;
  flex: 1 1 100%;
  width: 80vw;
  justify-content: space-between;
  border-radius: 4px;
  padding: 1em;
  background-color: #fff4fb;
  border: 2px solid #ffccec;
}

.project-container:not(:last-of-type) {
  margin-bottom: 1em;
}

@media (prefers-color-scheme: dark) {
  .project-container {
    background-color: #4e667e;
    border: 2px solid #3a4d5f;
  }
}

@media screen and (max-width: 601px) {
  .project-container {
    display: block;
  }

  .center nav {
    position: relative;
  }
}

.project-body {
  text-align: left;
  margin-left: 1em;
}

.project-body h4 {
  margin-top: 0;
  margin-bottom: 0;
}

.project-links {
  margin-right: 1em;
}
