.preload * {
    transition: none !important;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

body img {
    float: left;
    margin: 30px 30px 0px 30px;
}

@media (prefers-color-scheme: dark) {
    body {
        background: #1F2933;
        color: #F5F7FA;
    }
    
    body a {
        color: #CBD2D9;
    }
    
    body a:visited {
        color: #CBD2D9;
    }

    footer a {
        color: #F5F7FA;
    }

    footer a:visited {
        color: #F5F7FA;
    }

    footer a:hover {
        background-color: #616E76;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background: green;
        /* background: rgb(124,224,249); */
        /* background: linear-gradient(166deg, rgba(124,224,249,1) 11%, rgba(221,176,160,1) 80%, rgba(216,108,112,1) 100%); */
    }
    
    body a:visited {
        color: black;
    }

    footer a:visited {
        color: black;
    }
    
    footer a:hover {
        background-color: black;
        color: white;
    }
}

#date-created {
    color:gray;
}

footer a {
    transition: all 0.5s ease;
    padding: 4px 4px;
    border-radius: 4px;
}