body {
    width: 100vw;
    height: calc(100vh - 30px);
    margin: 0;
}

.main {
    margin-top: 30px;
}

@media screen and (min-width: 601px) {
    .left {
        float: left;
        text-align: center;
        margin-right: 30px;
        margin-left: 30px;
    }
}

@media screen and (max-width: 600px) {
    .left {
        text-align: center;
    }
}

.icon-bar {
   text-align: center;
}

.icon-bar a {
       text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    body {
        background: #1F2933;
        background: linear-gradient(166deg, rgba(31,41,51,1) 0%, rgba(13,13,92,1) 69%, rgba(35,255,0,1) 100%);
        color: #F5F7FA;
    }
    
    body a {
        color: #CBD2D9;
    }
    
    body a:visited {
        color: #CBD2D9;
    }

    .icon-bar svg path {
        fill: white;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background: rgb(124,224,249);
        background: linear-gradient(166deg, rgba(124,224,249,1) 11%, rgba(221,176,160,1) 80%, rgba(216,108,112,1) 100%);
    }
    
    body a:visited {
        color: black;
    }
}